
#eureka config
eureka.client.service-url.defaultZone: http://discovery-service:8761/eureka/

#actuator Config
management:
  endpoint:
    web:
      exposure:
        include: "*"

  #Zipkins Config
  tracing:
    sampling:
      probability: 1.0


  zipkin:
    tracing:
      endpoint: http://zipkin:9411/api/v2/spans
